<style>
    .main {
        height: auto;
        min-height: 100%;
    }
</style>

<h1 align="center">Search results</h1>

<div class="row justify-content-center">
  <div class="col-xs-8 col-xs-offset-2">
    <%= form_with(url: '/articles/search', method: 'get', local: true, id: "search_form") do %>
      <%= text_field_tag(:search) %>
      <%= submit_tag("Search") %>
    <% end %>
  </div>
</div>

<p align="center"><%= "#{@results.length} #{'result'.pluralize(@results.length)}" %></p>

<%= render 'shared/article', obj: @results %>
<div align="center">
  <%= will_paginate @results %>
</div>