<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= button_to "Noveo Blog", root_path, class: "navbar-brand", id: "logo", method: :get %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="navbar-text"><%= button_to "Articles", articles_path, method: :get %></li>
        <li class="navbar-text"><%= button_to "Create new article", new_article_path, method: :get %></li>
        <li class="navbar-text"><%= button_to "My Github", "https://github.com/polttergeist/noveo_ruby", method: :get %></li>
      </ul>
      

      <ul class="nav navbar-nav navbar-right" id="naughty">
        <% if user_signed_in? %>
          <li class="navbar-text"><span style="color: white">Logged in as <strong><%= current_user.email %></strong>.</span></li>
          <li class="navbar-text"><%= button_to 'Edit profile', edit_user_registration_path, method: :get, :class => 'navbar-link' %></li>
          <li class="navbar-text"><%= button_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
        <% else %>
          <li class="navbar-text"><%= button_to "Sign up", new_user_registration_path, method: :get, :class => 'navbar-link'  %></li>
          <li class="navbar-text"><%= button_to "Login", new_user_session_path, method: :get, :class => 'navbar-link'  %></li>
        <% end %>
        <li class="navbar-text"><%= button_to 'About', about_path, method: :get %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>